body 
{
    background-color: navajowhite;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}
.pink
{
    color: hotpink;
}
.gray
{
    color: darkgray;
    margin-left: 30px;
    text-decoration: none;
}
.blue
{
    background:blanchedalmond;
    border-radius: 10px;
    overflow: hidden;
    color: blue;
    width: 500px;
    height: 500px;
}
.one
{
   color:darkmagenta;
   margin-bottom: 80px; 
}
.big
{
 font-weight: bold;
}
.line
{
    color: black;
    text-decoration: underline;
    text-decoration-color: deeppink;
}
.two li::before
{
  color: blueviolet;
}