body {
  background-color: navajowhite;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.pink {
  color: hotpink;
}
.gray {
  color: darkgray;
  margin-left: 30px;
  text-decoration: none;
}
.blue {
  border-radius: 10px;
  overflow: hidden;
  height: 500px;
  width: 1000px;
}
.one {
  color: darkmagenta;
  margin-bottom: 80px;
}
.big {
  font-weight: bold;
}
.line {
  color: black;
  text-decoration-color: deeppink;
}
.two {
  list-style: "-";
  color: blueviolet;
}
.second {
  list-style: "-";
}
.first {
  color: blueviolet;
}
span {
  color: black;
}
h3 {
  color: black;
}
.third {
  color: blueviolet;
}
